<%- include('header'); -%>


<h2>This is About page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eaque id iure quia nam culpa, quod exercitationem consequuntur eligendi ullam dolor enim earum?</p>


<%- include('footer'); -%>